@import "../../styles/variables.css";


.captionbox{
  font-family:var(--font-family);
  font-weight: 400;
  line-height: 1.471; 

  display :flex;
  flex-direction :row;

  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  align-items:center;
  }


.caption {
  font-size: 15px;
  min-width: 500px;
  text-align:right;
 
}
.text {
  font-size: 13px;
  padding-left: 15px;
}