@import "../styles/variables.css";

.row {
  padding: 20px;  
}

.main {
  color: var(--detailcolor);

}
.dopchart {
  max-height: 50vh; 
  min-height: 50vh;
  border-left: 1px solid var(--detailcolor);
  border-bottom: 1px solid var(--detailcolor);
  max-width: 50vw;
  
}
